<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo_InformeRegistros.My.MySettings.AY1_001ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\QSM\QSM_DOCS\CLIENTES\FOMINAYA\dbs\AY1_001.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>